{% extends 'base.html' %}
{% block content %}

<div class="about-section">
  <h1>About Us</h1>
  <p>We aim to develop an Open-Source Stock Simulator that can allow users to create and manage profolios with crisp and simplified data represetations.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chih-Chia Chen</h2>
        <p>cchen64@syr.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>David Liu</h2>
        <p>yliu315@syr.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dayong Gu</h2>
        <p>dgu101@syr.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Haochen Lin</h2>
        <p>hlin46@syr.edu</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Yiming Zhou</h2>
        <p>yzhou101@syr.edu</p>
      </div>
    </div>
  </div>


</div>

{% endblock %}
