{% extends 'base.html' %}
{% block content %}

<h1>CIS454 - StuckSim</h1> <br/>
<h2>This is a Web Stock Simulator created by Chih-Chia Chen, Dayong Gu, Haochen Lin, David Liu, Yiming Zhou </h2>

We aim to develop a online Stock Simulator that can allow users to buy and sell stocks, create and manage profolios, and learn about the basic trading techniques with tasks and quests for free. 
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://github.com/walper/CIS454-StuckSim/blob/Production/README.md"></iframe>
  </div>
{% endblock %}
