{% extends 'base.html' %}
{% block content %}




<form action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Add Preferred Stock" aria-label="Search" name="ticker">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Stock</button>
</form>

<br/>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Prev Close</th>
            <th scope="col">Cap</th>
            <th scope="col">Year-to-date Change</th>
            <th scope="col">Annual High</th>
            <th scope="col">Annual Low</th>
           
        </tr>
    </thead>
    <tbody>
    {% if ticker %} 
        {% for item in output %} 
            <tr>
                    <th scope="row">{{item.companyName}}</th>
                    <td>${{item.latestPrice}}</td>
                    <td>${{item.previousClose}}</td>
                    <td>${{item.marketCap}}</td>
                    <td>{{item.ytdChange}}</td>
                    <td>${{item.week52High}}</td>
                    <td>${{item.week52Low}}</td>
                   
            </tr>
        {% endfor %}    
    {% endif %}
    </tbody>
</table>



 


{% endblock %}
